.role-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;

}
.img-wrapper{
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.content-wrapper{
  position: relative;
  width: 80%;
}


.company-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 1rem;
  height: 6rem;
  width: auto;
}

.year {
  font-size: 1.8rem;
  display: inline;
}

.role__title {

  font-size: 1.8rem;
  display: inline-block;
}
.btn-description {
  height: 2rem;
  width: 2rem;
  display: block;
  outline: none;
  border: none;
  background: none;
  font-size: 1.6rem;
}

.closee {
  visibility: hidden;
}

.openn {
  visibility: visible;
  color: black;
  border: 2px;
}

.course-description{
  font-weight: 700;
  font-size: 1.5rem;
}

.fas.fa-link{
  font-size: 2rem;
  color: black;
}
.fas.fa-link:active{
  font-size: 2rem;
  color: blue;
}