.dropdown-menu-container {
  position: fixed;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95vw;
  height: 80vh;
  background-color: #000;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

.dropdown-menu_categoty {
  margin: 1px;
  width: 50%;
  font-size: 5rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu_categoty:hover {
  color: #000;
  background-color: white;
  transition: all 0.7s ease-in-out;
  animation-name: appearFromTop;
}

.open {
  display: flex;
  animation: appearFromTop 0.5s ease-in-out;
}

.dropdown-menu-container.close {
  display: none;
}


@keyframes appearFromTop {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes disappearToTop {
  0% {
    margin-top: 0%;
  }

  100% {
    margin-top: -100%;
  }
}
